<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/stylesheet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <title>FaceBot</title>
    <style>
        * {
            font-family: Aeonik;
        }

        #loader {
          position: fixed;
          z-index: 999;
          width: 100vw;
          height: 100vh;
          background-color: white;
          top: 0;
          left: 0;
          justify-content: center;
          align-content: center;
          align-items: center;
          text-align: center;
        }
    </style>
</head>
<body>
    
    <div id="loader">
        <p>job done.</p>
    </div>
</body>
</html>
